.red{
    background-color: red;
    border: 1px solid black;
    height: 100px;
    width: 300px;
}
.green{
    background-color: green;
    border: 1px solid black;
    height: 100px;
    width: 300px;
}